.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  padding: 32px;
  background: #bbada0;
}

.grid-row {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.grid-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 5rem;
  height: 5rem;
  border: 5px solid #979797;
}