.menu > * {
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  gap: 0.5rem;
  margin: 0 auto;
  padding-bottom: 0.5rem;
}