.card {
}

.card:hover {
  transform: scale(0.98);
}

ul {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  list-style: none;
  padding: 0;
}

img {
  border-radius: 12px;
  width: 100%;
  height: auto;
  display: block;
}