.card {
  position: relative;
  border-radius: 12px; /* Скругляем саму карточку */
  overflow: hidden; 
}

.card button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  opacity: 0.75;
}

.card:hover {
  transform: scale(0.98);
}

ul {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  padding: 0;
  list-style: none;
  max-width: 800px;
}

ul img {
  width: 100%;
  height: auto;
  display: block;
}

.add-button {
  width: 10rem;
}

.add-picture-input {
  display: none;
}