.current-question-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background: rgb(136, 136, 136);
  border-radius: 12px;
  padding: 20px;
  margin: 15px;
}

@media (min-width: 1080px) {
  .current-question-container {
    width: 40rem;
  }
}