.current-question-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40rem;
  background: rgb(136, 136, 136);
  border-radius: 12px;
  padding: 20px;
  margin: 15px;
}