.grid-inputs-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(10, 2.8rem);
    gap: 4px;
    margin: 1rem;
}

.input-cell {
    width: 100%;
    box-sizing: border-box;
    font-size: 24px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

@media (max-width: 720px) {
    .grid-inputs-container {
        grid-template-columns: repeat(10, 7vw); 
        margin: 0.5rem;
    }

    .input-cell {
        font-size: 16px;
        padding: 5px;
    }
}