.grid-inputs-container {
    display: grid;
    grid-template-columns: repeat(10, 2.8rem);
    height: 30rem;
    padding-bottom: 2rem;
}

.input-cell {
    font-size: 24px;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #ccc;
}