.current-track-container {
  display: flex;
  flex-direction: row;
  align-items: end;
  padding-bottom: 2rem;
}

.current-track {
  display: flex;
  flex-direction: column;
}

.current-track audio {
  border-radius: 2rem;
}