.current-track-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  padding: 25px;
  background: #3b3b3b;
  border-radius: 12px;
}

.current-track {
  display: flex;
  flex-direction: column;
  background: #979696;
  border-radius: 12px;
  padding: 10px;
  overflow: hidden;
  font-size: 2rem;
  color: #000000;
  gap:20px;
  width: 100%;
  margin: 20px;
  margin: 0 auto;
}

.current-track audio {
  border-radius: 2rem;
}

.scroll-wrapper-container {
  background: #d4d4d4;
  border-radius: 12px;
  overflow: hidden;
  color: #000000;
}

.scroll-wrapper {
  display: flex;
  width: max-content;
  animation: scrolling 60s linear infinite;
}

.scroll-wrapper span {
  padding: 0 30px;
}

@keyframes scrolling {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}