.tracklist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #979696;;
  list-style-type: none;
  gap: 5px;
  border-radius: 12px;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tracklist li {
  background: rgb(110, 110, 110);
  border-radius: 12px;
  width: 500px;
  padding: 8px;
}

.tracklist li:hover {
  transform: scale(0.98);
}

.track-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.play-button {
  font-size: 1.5rem;
}

.current-track-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 50px;
  background: #3b3b3b;
  border-radius: 12px;
  align-items: end;
}

.current-track-container img {
  margin-left: -40px;
}

.current-track {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  gap:20px;
}

.current-track audio {
  border-radius: 2rem;
}