
.scroll-wrapper {
  display: flex;
  width: max-content;
  animation: scrolling 8s linear infinite;
}

.scroll-wrapper span {
  color: #fff;
  padding: 0 30px;
}

@keyframes scrolling {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

.tracklist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #979696;;
  list-style-type: none;
  gap: 5px;
  border-radius: 12px;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tracklist li {
  background: rgb(110, 110, 110);
  border-radius: 12px;
  width: 500px;
  padding: 8px;
}

.tracklist li:hover {
  transform: scale(0.98);
}

.track-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.tracklist-buttons:hover {
  transform: scale(0.98);
}

.current-track-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  padding: 50px;
  background: #3b3b3b;
  border-radius: 12px;
}

.current-track {
  display: flex;
  flex-direction: column;
  background: #979696;
  border-radius: 12px;
  width: 700px;
  padding: 10px;
  overflow: hidden;
  font-size: 2rem;
  gap:20px;
  margin: 20px;
  margin: 0 auto;
}

.current-track audio {
  border-radius: 2rem;
}